html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	background: #cccccc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	height: 100%;
}

.top {
	color: #333333;
	font-weight: bolder;
	font-size: xx-large;
}

.head {
	width: 98%;
	display: flex;
	justify-content: space-evenly;
	align-items: end;
	background: #aaaaaa;
}

.shove-right {
	margin-left: auto;
}
.head ul {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: large;
	
}

li:hover {
	color: #ffffff;
}
.underline {
	border-bottom: medium solid #666666;
}

.content {
	display: flex;
	width: 95%;
	justify-content: space-between;
	margin: auto;
}

.left-column {
	width: 35%;
	padding-top: 1%;
}

.right-column {
	width: 60%;
	height: 100%;
	padding-top: 1%;
}

footer {
	display: flex;
	align-items: end;
}